{% include 'base.html' with page_title="Upload Assignment" %}

<body>
<div class="navbar">📤 Upload Assignment</div>

<div class="container">
    <div class="card">
        <h2 style="color:#1E3A8A">Submit Your Assignment</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_title">Course Title</label>
        {{ form.title }}
        {% if form.title.errors %}
            <div class="error">{{ form.title.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="id_description">Description / Notes</label>
        {{ form.description }}
        {% if form.description.errors %}
            <div class="error">{{ form.description.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="id_file">Select Assignment File</label>
        {{ form.file }}
        {% if form.file.errors %}
            <div class="error">{{ form.file.errors }}</div>
        {% endif %}
    </div>
    
    <button class="btn">Upload Assignment</button>
</form>
    </div>
</div>
</body>
