{% include 'base.html' with page_title="Admin Dashboard" %}

<body>
<div class="navbar">🧑‍🏫 Lecturer Dashboard</div>

<div class="container">
    <h2 style="color:#1E3A8A">Assignments Submitted</h2>

    <div class="card">
        <table class="table">
            <tr>
                <th>Student</th>
                <th>Matric Number</th>
                <th>Course</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for a in assignments %}
            <tr>
                <td>{{ a.student.name }}</td>
                <td>{{ a.student.matric }}</td>
                <td>{{ a.course }}</td>
                <td>{{ a.date_submitted }}</td>
                <td>{{ a.status }}</td>
                <td>
                    <a href="/grade/{{ a.id }}/"><button class="btn">Grade</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
